@{
    ViewData["Title"] = "Contato Profissional";
}
<h1>@ViewData["Title"]</h1>

<p>Email: bernardoasoder@gmail.com</p>
<p>Linkedin: <a href="https://www.linkedin.com/in/bsoder-undefined-9439152a8/">linkedin.com/bsoder/</a></p>
<p>Telefone: (51) 99995-1901</p>
